canvas{
    position: absolute;
    top: 50px;
    left:450px;
    border: 5px solid 	#774b1e;
    background-color: white;
}
body{
    /*background-image:url("https://cdn.pixabay.com/photo/2016/11/21/17/56/hardwood-1846842_1280.jpg");*/
    background-image: url("image/wood.jpg");
    background-repeat: repeat;
    background-size: cover;
}

#tool_box{
    /*background-image:url("https://cdn.pixabay.com/photo/2017/02/13/03/57/papertexture-2061709_960_720.jpg");
    background-size: cover;
     background-color: #d49e68;*/
    position: absolute;
    top:50px;
    left:30px;
    width: 400px;
    height:90%;
    /*border: 5px solid 	#ffffff;*/
}
#text_form{
    position: relative;
}
.text_input{
    position: relative;
    left:10%
}
#text_form>button{
    width: 30px;
}
#text_input{
    width: 150px;
}
#colorpicker{
    position: relative;
    left:25%;
    
}
#brush_size_chooser{
    position: relative;
    width: 80%;
    left:10%;
}
buttom{
    cursor: pointer;
}

img{
    width: 40px;
    height: 40px;
}
.btn-tool{
    margin-top:20px;
    border:transparent;
    opacity: 0.8;
    background: transparent;
    outline:none;
}

.btn-tool:hover{
    opacity: 1;
}

.btn-tool_select{
    margin-top:20px;
    border:transparent;
    opacity: 0.8;
    background: transparent;
    outline: 3px dotted #ffffffd0;
    /*outline:none;*/
}


p{
    height:20px;
    margin: 0 auto;
    text-align: center;
    font-family:"Comic Sans MS";
    text-transform: uppercase;
    line-height: 20px;
}
form>p{
    height:20px;
    margin: 0 auto;
    text-align: center;
    font-family:"Comic Sans MS";
    text-transform: uppercase;
    line-height: 20px;
}
